<h1>{{message}}</h1>




  <form id="loginformA" action="http://104.236.64.147:3033/userRegisters" method="post">
<div>


<label for="email">cedula: </label>
<input type="text" id="cedula" name="cedula"></input>
<label for="email">nombres: </label>
<input type="text" id="nombres" name="nombres"></input>
<label for="email">apellidos: </label>
<input type="text" id="apellidos" name="apellidos"></input>
<label for="email">usuario: </label>
<input type="text" id="usuario" name="usuario"></input>
<label for="email">contrasenia: </label>
<input type="text" id="contrasenia" name="contrasenia"></input>
</div>
<input type="submit" value="Submit"></input>


</form>
          