<div  ng-controller='UsuariosController' ng-init="listar()"> 
       
       
<h1>Usuarios</h1>


<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Correo</th>
        <th>Fecha Nacimiento</th>
        <th>Editar</th>
        <th>Eliminar</th>
      </tr>
    </thead>
   
    <tbody ng-repeat = "usuario in usuarios">
      <tr>
        <td>{{usuario.nombre}}</td>
        <td>{{usuario.email}}</td>
        <td>{{usuario.fecha_nac}}</td>
        <td> <input type="submit" class="btn btn-success pull-right" ng-click="editar(usuario)" value="Editar"></td>
        <td> <input type="submit" class="btn btn-success pull-right" ng-click="Eliminar(usuario.id)" value="Eliminar"></td>
      </tr>
    </tbody>
    
  </table>
  </div>
</div>


